p {
    margin: 0;
    padding: 0;
}

.email {
    /*font-weight: bold;*/
    margin-right: 5px;
}

.navbar {
    padding: 0.5rem 0;
}

.mySplit {
    height: 60rem;
    width: 100%;
    background-color: rgb(250, 250, 250);
}

.noPadding {
    padding: 0 !important;
    margin: 0 !important;
}

.h1adminPanel {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.h1UserInformationPage {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.usersTable {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    border: none;
}

.thId {
    width: 10%;
}

.thName {
    width: 13%;
}

.thLastName {
    width: 13%;
}


.thAge {
    width: 15%;
}

.thEmail {
    width: 15%;
}

.thRole {

}

.thEdit {
    width: 10%;
}

.thDelete {
    width: 10%;
}


.userInfoTable {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    border: none;
}

.thId2 {
    width: 15%;
}

.thName2 {
    width: 18%;
}

.thLastName2 {
    width: 18%;
}

.thaAge2 {
    width: 15%;
}

.thEmail2 {
    width: 15%;
}

.thRole2 {

}